<p id="notice"><%= notice %></p>

<h1>Tweets</h1>



<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tweets.each do |tweet| %>
      <tr>
        <td><%= tweet.title %></td>
        <td><%= tweet.content %></td>
        <td><%= link_to 'Show', tweet %></td>
        <td><%= link_to 'Edit', edit_tweet_path(tweet) %></td>
        <td><%= link_to 'Destroy', tweet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tweet', new_tweet_path %>
<!--成功コード-->

<body>
<p class="btn">
<a class="audioButton">再生</a>
</p>
</body>
    <!--音源-->
    <%= audio_tag("http://idotdesign.net/wp-content/themes/idotdesign/sound/sound.mp3",id:"audio") %>
    <!--再生用JS-->
    <%=javascript_tag do%>
        document.querySelector('.audioButton').onclick = function () {
        document.querySelector("#audio").play();
        //alert("押したな？")
        //Materialize.toast("You Answered", 4000,'rounded')
        }
    <%end%>
<a href="https://qiita.com/NishidaRyu416/items/c244aeeaacab1d9bb0c1">参考</a>
